#kuva1 {
    float: left;
    border-style: dotted;
    border-color: orange;
    border-width: 1em;
    margin: 20px;
    width: 100px;
}

#kuva2 {
    float: right;
    border-top: 0.5em solid brown;
    border-bottom: 0.5em solid brown;
    margin: 5px;
    width: 120px;
}

.aakos {
    list-style-type: lower-alpha;
}

.avoin {
    list-style-type: circle;
}

dt {
    color: red;
}

dd {
    font-style: italic;
}

table, td, tr, th  {
    border: solid 2px black;
    font-size: 75%;
}

table {
    width: 50%;
    padding: 2px;
    float: left;
    margin: 10px;
}

th {
    background-color: bisque;
}

a {
    text-decoration: none;
    font-size: 90%;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}